# Default ignored files
/../../Lesson 1 /.idea/shelf/
/../../Lesson 1 /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Lesson 1 /.idea/httpRequests/
# Datasource local storage ignored files
/../../Lesson 1 /.idea/dataSources/
/../../Lesson 1 /.idea/dataSources.local.xml
